<% content_for :title, "Headache Logs for #{@user.username}" %>
<% content_for :navbar, @user.username %>

<article class="prose hidden print:block print:mb-8">
  <h1>Cluster Headache Report</h1>
  <h2>Patient: <%= @user.username %></h2>
</article>

<div class="print:hidden join join-vertical w-full mb-4">
  <%= render "shared/filter_form" %>
</div>

<div class="print:max-w-none print:w-full">
  <%= render "headache_logs/stats", headache_logs: @headache_logs %>
</div>

<article class="prose mb-2">
  <h1>Analysis</h1>
</article>
<%= render partial: 'shared/charts', locals: { headache_logs: @headache_logs, chart_data: @chart_data } %>

<article class="prose mb-2">
  <h1>Detailed Log Entries</h1>
</article>
<%= turbo_stream_from @user, "headache_logs" %>
<%= render "headache_logs/table", headache_logs: @headache_logs, hide_actions: true %>

<article class="hidden print:block prose">
  <p>Report generated from Cluster Headache Tracker (clusterheadachetracker.com)</p>
</div>
