<% unless headache_logs.any? %>
  <p>No headache data available. Try adjusting your filter criteria or add more headache logs.</p>
<% else %>
  <div class="grid lg:grid-cols-2 gap-4 grid-cols-1 mb-8">
    <!-- Line/Bar Charts (Full Width on Mobile) -->
    <div class="lg:col-span-2">
      <div class="card card-compact md:card-normal bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Headache Intensity Over Time</h2>
          <div id="intensityChartContainer" class="h-[300px]">
            <% if chart_data[:intensity_data].any? %>
              <canvas id="intensityChart"></canvas>
            <% else %>
              <p>No intensity data available.</p>
            <% end %>
            <div class="loading-spinner hidden"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="lg:col-span-2">
      <div class="card card-compact md:card-normal bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Number of Attacks per Day</h2>
          <div id="attacksPerDayChartContainer" class="h-[300px]">
            <% if chart_data[:attacks_per_day_data].any? %>
              <canvas id="attacksPerDayChart"></canvas>
            <% else %>
              <p>No attack data available.</p>
            <% end %>
            <div class="loading-spinner hidden"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="lg:col-span-2">
      <div class="card card-compact md:card-normal bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Attack Duration Over Time</h2>
          <div id="durationChartContainer" class="h-[300px]">
            <% if chart_data[:duration_data].any? %>
              <canvas id="durationChart"></canvas>
            <% else %>
              <p>No duration data available.</p>
            <% end %>
            <div class="loading-spinner hidden"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="lg:col-span-2">
      <div class="card card-compact md:card-normal bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Headache Frequency and Intensity by Time of Day</h2>
          <div id="hourlyChartContainer" class="h-[300px]">
            <% if chart_data[:hourly_data].any? %>
              <canvas id="hourlyChart"></canvas>
            <% else %>
              <p>No hourly data available.</p>
            <% end %>
            <div class="loading-spinner hidden"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pie Charts (Side by Side on Desktop) -->
    <div class="print:columns-2">
      <div class="card card-compact md:card-normal bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Top 5 Triggers</h2>
          <div id="triggerChartContainer" class="h-[300px]">
            <% if chart_data[:trigger_data].any? %>
              <canvas id="triggerChart"></canvas>
            <% else %>
              <p>No trigger data available.</p>
            <% end %>
            <div class="loading-spinner hidden"></div>
          </div>
        </div>
      </div>

      <div class="card card-compact md:card-normal bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Top 5 Medications</h2>
          <div id="medicationChartContainer" class="h-[300px]">
            <% if chart_data[:medication_data].any? %>
              <canvas id="medicationChart"></canvas>
            <% else %>
              <p>No medication data available.</p>
            <% end %>
            <div class="loading-spinner hidden"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('turbo:load', function() {
      window.initializeCharts(
        <%= raw chart_data[:intensity_data].to_json %>,
        <%= raw chart_data[:trigger_data].to_json %>,
        <%= raw chart_data[:medication_data].to_json %>,
        <%= raw chart_data[:hourly_data].to_json %>,
        <%= raw chart_data[:attacks_per_day_data].to_json %>,
        <%= raw chart_data[:duration_data].to_json %>
      );
    });
  </script>
<% end %>
