<details class="collapse bg-base-200 collapse-arrow">
  <summary class="collapse-title text-xl font-medium">Filters</summary>
  <div class="collapse-content">
    <%= form_with url: local_assigns[:url], method: :get  do |form| %>
      <div class="mb-4 flex flex-wrap -mx-2">
        <div class="w-full md:w-1/4 px-2 mb-4 md:mb-0">
          <%= form.label :start_time, class: "form-control w-full max-w-ws" do %>
            <div class="label">
              <span class="label-text">Start Date</span>
            </div>
            <%= form.date_field :start_time, value: params[:start_time], class: "input input-bordered w-full max-w-xs" %>
          <% end %>
        </div>
        <div class="w-full md:w-1/4 px-2 mb-4 md:mb-0">
          <%= form.label :end_time, class: "form-control w-full max-w-ws" do %>
            <div class="label">
              <span class="label-text">End Date</span>
            </div>
            <%= form.date_field :end_time, value: params[:end_time], class: "input input-bordered w-full max-w-xs" %>
          <% end %>
        </div>
        <div class="w-full md:w-1/4 px-2 mb-4 md:mb-0">
          <%= form.label :triggers, class: "form-control w-full max-w-ws" do %>
            <div class="label">
              <span class="label-text">Triggers</span>
              <%= heroicon "magnifying-glass", variant: "micro", class: "h-4 w-4 opacity-70" %>
            </div>
            <%= form.text_field :triggers, value: params[:triggers], class: "input input-bordered w-full max-w-xs", placeholder: "Sleeping" %>
          <% end %>
        </div>
        <div class="w-full md:w-1/4 px-2 mb-4 md:mb-0">
          <%= form.label :medication, class: "form-control w-full max-w-ws" do %>
            <div class="label">
              <span class="label-text">Medication</span>
              <%= heroicon "magnifying-glass", variant: "micro", class: "h-4 w-4 opacity-70" %>
            </div>
            <%= form.text_field :medication, value: params[:medication], class: "input input-bordered w-full max-w-xs", placeholder: "Oxygen" %>
          <% end %>
        </div>
      </div>
      <div class="flex items-center justify-between">
        <%= link_to "Clear Filters", local_assigns[:url], class: "btn btn-ghost" %>
        <%= form.submit "Apply Filters", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</details>
