<%= form_with url: local_assigns[:url], method: :get, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" do |form| %>
  <div class="mb-4 flex flex-wrap -mx-2">
    <div class="w-full md:w-1/4 px-2 mb-4 md:mb-0">
      <%= form.label :start_time, "Start Date", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.date_field :start_time, value: params[:start_time], class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="w-full md:w-1/4 px-2 mb-4 md:mb-0">
      <%= form.label :end_time, "End Date", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.date_field :end_time, value: params[:end_time], class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="w-full md:w-1/4 px-2 mb-4 md:mb-0">
      <%= form.label :triggers, "Triggers", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :triggers, value: params[:triggers], class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="w-full md:w-1/4 px-2">
      <%= form.label :medication, "Medication", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :medication, value: params[:medication], class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
  </div>
  <div class="flex items-center justify-between">
    <%= form.submit "Apply Filters", class: "bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    <%= link_to "Clear Filters", local_assigns[:url], class: "inline-block align-baseline font-bold text-sm text-indigo-500 hover:text-indigo-800" %>
  </div>
<% end %>
