<details class="collapse bg-base-100 collapse-arrow shadow join-item print:hidden" data-accordion="filters">
  <summary class="collapse-title text-xl font-medium">
    <%= heroicon "funnel", class: "w-6 h-6 mr-2 inline-block" %>
    Filters
  </summary>
  <div class="collapse-content">
    <%= form_with url: local_assigns[:url], method: :get, data: { turbo_frame: "headache_logs" } do |form| %>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
        <fieldset class="fieldset p-4 rounded-box">
          <legend class="fieldset-legend">Date Range</legend>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
              <label class="fieldset-label">Start Date</label>
              <%= form.date_field :start_time, value: params[:start_time], class: "input input-bordered w-full" %>
            </div>

            <div>
              <label class="fieldset-label">End Date</label>
              <%= form.date_field :end_time, value: params[:end_time], class: "input input-bordered w-full" %>
            </div>
          </div>
        </fieldset>

        <fieldset class="fieldset p-4 rounded-box">
          <legend class="fieldset-legend">Keywords</legend>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
              <label class="fieldset-label">Triggers</label>
              <%= form.text_field :triggers, value: params[:triggers], class: "input input-bordered w-full", placeholder: "Sleeping" %>
            </div>

            <div>
              <label class="fieldset-label">Medication</label>
              <%= form.text_field :medication, value: params[:medication], class: "input input-bordered w-full", placeholder: "Oxygen" %>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="flex items-center justify-between">
        <%= link_to "Clear Filters", local_assigns[:url], class: "btn btn-ghost" %>
        <%= form.submit "Apply Filters", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</details>
