<div id="<%= dom_id headache_log %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Start time:</strong>
    <%= headache_log.start_time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End time:</strong>
    <%= headache_log.end_time || "Ongoing" %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Intensity:</strong>
    <%= headache_log.intensity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= headache_log.notes %>
  </p>

</div>
