<li>
  <div class="timeline-middle">
    <%= heroicon "face-frown", variant: "mini" %>
  </div>
  <div class="<%= cycle('timeline-start md:text-end', 'timeline-end') %> mb-10">
    <span class="text-lg font-black"><%= headache_log.start_time.strftime("%B %d, %Y") %></span>
    <time class="font-mono italic"><%= headache_log.start_time.strftime("%I:%M %p") %> - <%= headache_log.end_time.present? ? headache_log.end_time.strftime("%I:%M %p") + " (" + distance_of_time_in_words(headache_log.end_time, headache_log.start_time) + ")" : "Ongoing" %></time>
    <div class="text-lg font-black">Cluster Headache, <%= headache_log.intensity %></div>
    <% if headache_log.medication.present? %>
      <div class="badge badge-outline badge-primary"><%= headache_log.medication %></div>
    <% end %>
    <% if headache_log.triggers.present? %>
      <div class="badge badge-outline badge-secondary"><%= headache_log.triggers %></div>
    <% end %>
    <% if headache_log.notes.present? %>
      <p><%= headache_log.notes %></p>
    <% end %>
    <div class="mt-2">
      <%= link_to "Edit", edit_headache_log_path(headache_log), class: "link link-primary" %>
      <%= button_to "Delete", headache_log_path(headache_log), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "link link-error" %>
    </div>
  </div>
  <hr>
</li>
