<div class="grid">
  <div class="stats stats-vertical md:stats-horizontal print:stats-horizontal shadow print:shadow-none mb-4 print:mb-8 bg-base-100">
    <div class="stat">
      <div class="stat-figure text-info">
        <%= heroicon "clock", class: "inline-block h-8 w-8 stroke-current" %>
      </div>
      <div class="stat-title">Time Since Last</div>
      <div class="stat-value text-info"
           data-controller="timer"
           data-timer-format-value="short"
           data-timer-start-value="<%= @headache_logs.max_by(&:start_time)&.start_time&.strftime('%Y-%m-%dT%H:%M:%S') %>">
        <span data-timer-target="timeAgo">...</span>
      </div>
      <div class="stat-desc"></div>
    </div>
    <div class="stat">
      <div class="stat-figure text-secondary">
        <%= heroicon "sun", class: "inline-block h-8 w-8 stroke-current" %>
      </div>
      <div class="stat-title">Headaches Today</div>
      <div class="stat-value text-secondary">
        <%= @headache_logs.select { |log| log.start_time.to_date == Date.today }.count %>
      </div>
      <div class="stat-desc"></div>
    </div>
    <div class="stat">
      <div class="stat-figure text-accent">
        <%= heroicon "chart-bar", class: "inline-block h-8 w-8 stroke-current" %>
      </div>
      <div class="stat-title">Average Intensity</div>
      <div class="stat-value text-accent">
        <%= (@headache_logs.sum(&:intensity).to_f / @headache_logs.size).round(2) %>
      </div>
      <div class="stat-desc"></div>
    </div>
  </div>
</div>
