<%# app/views/headache_logs/index.html.erb %>
<% content_for :title, "Headache Logs" %>
<% content_for :navbar, "Headache Logs" %>

<div class="join join-vertical w-full mb-4">
  <%= render "share_link" %>
  <%= render "shared/filter_form" %>
</div>

<%= render "stats" %>

<%= turbo_stream_from current_user, "headache_logs" %>
<%= render "logs_grid", headache_logs: @headache_logs %>
<%= render 'shared/changelog_modal' %>
