<%# app/views/headache_logs/index.html.erb %>
<% content_for :title, "Headache Logs" %>
<% content_for :navbar, "Headache Logs" %>
<% content_for :web_button do %>
  <%= link_to new_headache_log_path, class: "btn" do %>
    <%= heroicon "plus", variant: "mini", class: "w-4 h-4" %>
    New
  <% end %>
<% end %>
<% content_for :hotwire_button do %>
  <%= link_to new_headache_log_path, class: "btn",
      data: {
        controller: "bridge--button",
        bridge_title: "New",
        bridge_ios_image: "plus",
        bridge_android_image: "add"
      } do %>
    <%= heroicon "plus", variant: "mini", class: "w-4 h-4" %>
    New
  <% end %>
<% end %>

<div class="join join-vertical w-full mb-4">
  <%= render "share_link" %>
  <%= render "shared/filter_form" %>
</div>

<%= render "stats" %>

<%= turbo_stream_from current_user, "headache_logs" %>
<%= render "logs_grid", headache_logs: @headache_logs %>
<%= render 'shared/welcome_modal' %>
<%= render 'shared/changelog_modal' %>
