<% content_for :title, "Headache Logs" %>
<% content_for :navbar, "Headache Logs" %>

<div class="join join-vertical w-full">
  <%= render "share_link" %>
  <%= render "shared/filter_form" %>
</div>

<%= render "stats" %>

<%= turbo_stream_from current_user, "headache_logs" %>
<ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
  <%= render @headache_logs %>
</ul>
