<section class="py-16 bg-base-200 sm:py-20">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 text-center">
    <h2 class="text-3xl font-bold sm:text-4xl xl:text-5xl">
      Stop tracking on paper. Start getting answers.
    </h2>
    <p class="mt-6 text-lg opacity-70 max-w-2xl mx-auto">
      Join <%= @users_count %>+ people who finally have real data about their
      attacks. It takes 30 seconds to start.
    </p>
    <div class="flex flex-col sm:flex-row gap-4 justify-center mt-10">
      <%= link_to user_signed_in? ? headache_logs_path : new_user_registration_path, class: "btn btn-lg btn-primary" do %>
        <%= heroicon "arrow-right", variant: "mini", class: "w-5 h-5" %>
        <%= user_signed_in? ? "Go to My Logs" : "Start Free Tracking" %>
      <% end %>

      <%= link_to faq_path, class: "btn btn-lg btn-outline" do %>
        <%= heroicon "question-mark-circle", variant: "mini", class: "w-5 h-5" %>
        Learn More
      <% end %>
    </div>
  </div>
</section>
