<div class="overflow-x-hidden">
  <%= render "hero" %>
  <%= render "stats" %>
  <%= render "features" %>
  <%= render "providers" %>
  <%= render "testimonials" %>
  <%= render "founder" %>
  <%= render "devices" %>
  <%= render "open_source" %>
  <%= render "faq" %>
  <%= render "cta" %>
</div>
