<% content_for :title, "Charts" %>
<% content_for :navbar, "Charts" %>
<% content_for :web_button do %>
  <%= link_to new_headache_log_path, class: "btn" do %>
    <%= heroicon "plus", variant: "mini", class: "w-4 h-4" %>
    New
  <% end %>
<% end %>
<% content_for :hotwire_button do %>
  <%= link_to new_headache_log_path, class: "btn",
      data: {
        controller: "bridge--button",
        bridge_title: "New"
      } do %>
    <%= heroicon "plus", variant: "mini", class: "w-4 h-4" %>
    New
  <% end %>
<% end %>

<%= turbo_stream_from current_user, "charts" %>

<div class="join join-vertical w-full mb-4">
  <%= render "shared/filter_form", url: charts_path %>
</div>

<%= render "headache_logs/stats", headache_logs: @headache_logs %>
<%= turbo_frame_tag "charts" do %>
  <%= render 'shared/charts', { headache_logs: @headache_logs, chart_data: @chart_data } %>
<% end %>
