<footer class="footer p-10 bg-neutral text-neutral-content">
  <nav>
    <h6 class="footer-title">Legal</h6>
    <%= link_to "Imprint", imprint_path, class: "link link-hover" %>
    <%= link_to "Privacy Policy", privacy_policy_path, class: "link link-hover" %>
  </nav>
  <nav>
    <h6 class="footer-title">Resources</h6>
    <%= link_to "FAQ", faq_path, class: "link link-hover" %>
    <%= link_to "View on GitHub", "https://github.com/crmne/cluster_headache_tracker", class: "link link-hover", target: "_blank", rel: "noopener noreferrer" %>
    <%= link_to "Donate", "https://buymeacoffee.com/crmne", class: "link link-hover", target: "_blank", rel: "noopener noreferrer" %>
  </nav>
  <nav>
    <h6 class="footer-title">Mobile Apps</h6>
    <%= link_to "https://testflight.apple.com/join/GJsAQqz2", class: "link link-hover flex items-center gap-2", target: "_blank", rel: "noopener noreferrer" do %>
      <%= icon "ios", class: "fill-current", width: 24, height: 24 %>
      iOS Beta App
    <% end %>
    <%= link_to "/cluster-headache-tracker.apk", class: "link link-hover flex items-center gap-2", target: "_blank", rel: "noopener noreferrer" do %>
      <%= icon "android", class: "fill-current", width: 24, height: 24 %>
      Android Beta App
    <% end %>
  </nav>
</footer>
<footer class="footer px-10 py-4 border-t bg-neutral text-neutral-content border-base-300">
  <aside class="items-center grid-flow-col">
    <%= image_tag "logo_small.png", size: 32, alt: "Cluster Headache Tracker Logo", class: "fill-current" %>
    <p>© <%= Date.today.year %> <%= link_to "Carmine Paolino", "https://paolino.me", class: "link link-hover", target: "_blank", rel: "noopener noreferrer" %><br>Open Source and Free</p>
  </aside>
  <nav class="md:place-self-center md:justify-self-end">
    <div class="grid grid-flow-col gap-4">
      <%= link_to "https://github.com/crmne/cluster_headache_tracker", target: "_blank", rel: "noopener noreferrer", class: "btn btn-ghost" do %>
      <%= icon "github", class: "fill-current", width: 24, height: 24 %>
        <span class="sr-only">View on GitHub</span>
      <% end %>
    </div>
  </nav>
</footer>
