<nav class="navbar bg-primary text-primary-content drop-shadow z-50 pt-safe-offset-2 fixed top-0">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <%= heroicon "bars-3-bottom-left", class: "w-5 h-5" %>
      </div>
      <ul tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[100] p-2 shadow bg-primary rounded-box w-52">
        <% if user_signed_in? %>
          <li><%= link_to headache_logs_path do %><%= heroicon "calendar-days", variant: "micro" %> Logs<% end %></li>
          <li><%= link_to charts_path do %><%= heroicon "chart-bar", variant: "micro" %> Charts<% end %></li>
          <li><%= link_to new_headache_log_path do %><%= heroicon "plus-circle", variant: "micro" %> New Log<% end %></li>
          <li><%= link_to settings_path do %><%= heroicon "user", variant: "micro" %> Account Settings<% end %></li>
          <li><%= link_to feedback_path do %><%= heroicon "chat-bubble-left-ellipsis", variant: "micro" %> Feedback<% end %></li>
        <% end %>

        <li class="menu-title">Resources</li>
        <li><%= link_to faq_path do %><%= heroicon "question-mark-circle", variant: "micro" %> FAQ<% end %></li>
        <li>
          <%= link_to "https://github.com/crmne/cluster_headache_tracker", target: "_blank", rel: "noopener noreferrer" do %>
            <%= heroicon "code-bracket", variant: "micro" %> Source Code
          <% end %>
        </li>
        <li>
          <%= link_to "https://buymeacoffee.com/crmne", target: "_blank", rel: "noopener noreferrer" do %>
            <%= heroicon "heart", variant: "micro" %> Support Project
          <% end %>
        </li>

        <li class="menu-title">Mobile Apps</li>
        <li>
          <%= link_to "https://testflight.apple.com/join/GJsAQqz2", target: "_blank", rel: "noopener noreferrer" do %>
            <%= heroicon "device-phone-mobile", variant: "micro" %> iOS Beta
          <% end %>
        </li>
        <li>
          <%= link_to "/cluster-headache-tracker.apk", target: "_blank", rel: "noopener noreferrer" do %>
            <%= heroicon "device-phone-mobile", variant: "micro" %> Android Beta
          <% end %>
        </li>

        <li class="menu-title">Legal</li>
        <li><%= link_to privacy_policy_path do %><%= heroicon "shield-check", variant: "micro" %> Privacy Policy<% end %></li>
        <li><%= link_to imprint_path do %><%= heroicon "document-text", variant: "micro" %> Imprint<% end %></li>
      </ul>
    </div>
    <%= link_to user_signed_in? ? headache_logs_path : root_path, class: "btn btn-ghost" do %>
      <%= image_tag "logo_small.png", size: 32 %> <span class="hidden md:block">Cluster Headache Tracker</span>
    <% end %>
  </div>
  <div class="navbar-center">
    <span class="font-black text-lg"><%= content_for(:navbar) %></span>
  </div>
  <div class="navbar-end">
      <% if content_for? :force_navbar_button %>
        <%= yield :force_navbar_button %>
      <% elsif user_signed_in? and hotwire_native_app? %>
        <%= yield :hotwire_button %>
      <% elsif user_signed_in? and not hotwire_native_app? %>
        <div class="flex items-center gap-4 px-2">
          <%= link_to current_user.username, settings_path, class: "btn-primary hidden md:block" %>
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn" %>
        </div>
      <% else %>
        <div class="flex items-center gap-4">
          <%= link_to "Sign In", new_user_session_path, class: "btn-primary" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn" %>
        </div>
      <% end %>
  </div>
</nav>
