<nav class="navbar bg-primary text-primary-content drop-shadow">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <%= heroicon "bars-3-bottom-left", class: "w-5 h-5" %>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-primary rounded-box z-[1] mt-3 w-32 p-2 shadow">
        <li><%= link_to faq_path do %><%= heroicon "question-mark-circle", variant: "micro" %> FAQ <% end %></li>
        <% if user_signed_in? %>
          <li><%= link_to headache_logs_path do %><%= heroicon "calendar-days", variant: "micro" %> Logs<% end %></li>
          <li><%= link_to charts_path do %><%= heroicon "chart-bar", variant: "micro" %> Charts <% end %></li>
        <% end %>
      </ul>
    </div>
    <%= link_to user_signed_in? ? headache_logs_path : root_path, class: "btn btn-ghost" do %>
      <%= image_tag "logo_small.png", size: 32 %> <span class="hidden md:block">Cluster Headache Tracker</span>
    <% end %>
  </div>
  <div class="navbar-center">
    <span class="font-black text-lg"><%= content_for(:navbar) %></span>
  </div>
  <div class="navbar-end">
    <% if user_signed_in? %>
      <div class="flex items-center gap-4 px-2">
        <%= link_to current_user.username, settings_path, class: "btn-primary hidden md:block" %>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn" %>
      </div>
    <% else %>
      <div class="flex items-center gap-4">
        <%= link_to "Sign In", new_user_session_path, class: "btn-primary" %>
        <%= button_to "Sign Up", new_user_registration_path, class: "btn" %>
      </div>
    <% end %>
  </div>
</nav>
