<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cluster Headache Tracker" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#4f46e5">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= render 'application/favicon' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <% if Rails.env.production? %>
      <script defer data-domain="clusterheadachetracker.com" src="https://plausible.io/js/script.js"></script>
    <% end %>
  </head>
  <body class="bg-gray-100">
    <%= render 'navbar' %>
    <main class="w-full">
      <% if current_page? root_path %>
        <%= yield %>
      <% else %>
        <div class="container mx-auto mt-8 px-4">
          <div class="w-full">
            <% if notice.present? %>
              <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
            <% end %>
            <%= yield %>
          </div>
        </div>
      <% end %>
    </main>
    <%= render 'footer' %>
  </body>
</html>
