<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-theme="custom">

<head>
  <title><%= page_title %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, user-scalable=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="theme-color" content="#4f46e5">
  <meta name="description" content="<%= page_meta_description %>">
  <meta name="keywords" content="cluster headache, headache tracker, headache log, migraine tracker, health app, headache diary">
  <meta name="robots" content="index, follow">

  <!-- OpenGraph Meta Tags -->
  <meta property="og:title" content="<%= page_title %>">
  <meta property="og:description" content="<%= page_meta_description %>">
  <meta property="og:image" content="<%= image_url('logo.png') %>">
  <meta property="og:url" content="<%= canonical_url %>">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Cluster Headache Tracker">

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= page_title %>">
  <meta name="twitter:description" content="<%= page_meta_description %>">
  <meta name="twitter:image" content="<%= image_url('logo.png') %>">

  <%= tag :link, rel: 'canonical', href: canonical_url %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= yield :head %>
  <%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
  <%= render 'application/favicon' %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <% if Rails.env.production? %>
  <script defer data-domain="clusterheadachetracker.com" src="https://stats.paolino.me/js/script.js"></script>
  <% end %>
</head>

<body class="min-h-screen bg-base-200 flex flex-col">
  <%= render 'navbar' %>
  <%= render 'flash_messages', resource: local_assigns[:resource] %>
  <main class="w-full pt-safe-offset-16 flex-grow">
    <% if current_page? root_path or current_page? feedback_path %>
    <%= yield %>
    <% else %>
    <div class="container mx-auto mt-4 px-4 <%= user_signed_in? && !static_page? && !native_app_form_page? && !native_app_with_tabs? ? 'pb-safe-offset-24' : 'pb-4' %> print:m-0 print:w-full print:p-0 print:max-w-none">
      <%= render "headache_logs/ongoing_headaches" if current_user %>
      <%= yield %>
    </div>
    <% end %>
  </main>
  <% unless hotwire_native_app? %>
    <% if user_signed_in? && !static_page? && !native_app_form_page? && !native_app_with_tabs? %>
      <%= render 'bottom_navbar' %>
    <% else %>
      <%= render 'footer' %>
    <% end %>
  <% else %>
    <%= render 'bottom_navbar' if user_signed_in? && !native_app_form_page? && !native_app_with_tabs? %>
  <% end %>
    <script type="application/ld+json">
      {
  "@context": "https://schema.org",
  "@type": "WebApplication",
  "name": "<%= app_title %>",
  "url": "<%= root_url %>",
  "logo": "<%= image_url('logo.png') %>",
  "description": "<%= page_meta_description %>",
  "sameAs": [
    <% others = [] %>
    <% others << "https://testflight.apple.com/join/GJsAQqz2" %>
    <% others << "https://github.com/crmne/cluster-headache-tracker" %>
    <% others << "https://github.com/crmne/cluster-headache-tracker-ios" %>
    <% others << "https://github.com/crmne/cluster-headache-tracker-android" %>
    <%= others.map { |url| "\"#{url}\"" }.join(", ").html_safe %>
  ]
}
    </script>
</body>
</html>
