<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Cluster Headache Tracker" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%#<link rel="manifest" href="/manifest.json">%>
    <%#<link rel="icon" href="/icon.png" type="image/png">%>
    <%#<link rel="icon" href="/icon.svg" type="image/svg+xml">%>
    <%#<link rel="apple-touch-icon" href="/icon.png">%>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script defer data-domain="cluster-headache-tracker.onrender.com" src="https://plausible.io/js/script.js"></script>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-gray-100">
    <nav class="bg-indigo-600 p-4">
      <div class="container mx-auto flex items-center justify-between">
        <div class="text-white font-bold text-xl">
          <%= link_to "Cluster Headache Tracker", root_path %>
        </div>
        <!-- Navigation Links -->
        <div class="flex items-center space-x-4">
          <% if user_signed_in? %>
            <%= link_to "Headache Logs", headache_logs_path, class: "text-white hover:text-indigo-200 px-4" %>
            <%= link_to "Log Headache", new_headache_log_path, class: "text-white hover:text-indigo-200 px-4" %>
            <%= link_to "Charts", charts_path, class: "text-white hover:text-indigo-200 px-4" %>
          <% else %>
            <%= link_to "Features", root_path(anchor: "features"), class: "text-white hover:text-indigo-200 px-4" %>
            <%= link_to "About", root_path(anchor: "about"), class: "text-white hover:text-indigo-200 px-4" %>
          <% end %>
        </div>
        <!-- User Actions -->
        <div>
          <% if user_signed_in? %>
            <div class="flex items-center space-x-4">
              <span class="text-white"><%= current_user.email %></span>
              <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "bg-indigo-500 hover:bg-indigo-700 text-white font-medium py-2 px-4 rounded" %>
            </div>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, class: "bg-indigo-500 hover:bg-indigo-700 text-white font-medium py-2 px-4 rounded mr-2" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "bg-white text-indigo-600 font-medium py-2 px-4 rounded hover:bg-indigo-100" %>
          <% end %>
        </div>
      </div>
    </nav>

    <main class="w-full">
      <%= yield %>
    </main>

    <footer class="bg-gray-800 text-white py-8 mt-20">
      <div class="container mx-auto px-4 text-center">
        <p>&copy; <%= Date.today.year %> <%= link_to "Carmine Paolino", "https://paolino.me", class: "underline hover:text-indigo-300", target: "_blank", rel: "noopener noreferrer" %>. All rights reserved.</p>
        <p class="mt-2">
        Open Source:
        <%= link_to "View or contribute on GitHub", "https://github.com/crmne/cluster_headache_tracker", class: "underline hover:text-indigo-300", target: "_blank", rel: "noopener noreferrer" %>
        </p>
      </div>
    </footer>
  </body>
</html>
